@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@import '../components/home/church';

@import '../components/home/management';

@import '../components/home/features';

@import '../components/home/devices';

@import '../components/home/testimonials';

@import '../components/home/ministry';

@import '../components/home/pricing';

@import '../components/blogs/latestblog';

@import '../components/header.scss';

@import '../components/blogs/bloglist';

@import '../components/features/featurelist';

@import '../common/common';

@import '../common/mixins';

@import '../common/404';

@import './features';

@import './signup';