.devices {
  .apple-google-play {
    padding-bottom: 3%;
    .button-center {
      margin: 11px auto;
      box-sizing: border-box;
    }
    img {
      max-width: none;
      width: 160px
    }
  }
  h2, p {
    font-feature-settings: "liga" 0;
    font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    color: $grey_color;
    margin: auto;
  }
  h2 {
    margin-left: 10%;
    font-weight: 300;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
  }
  p:nth-of-type(1) {
    margin-top: 10px;
  }
  h2:nth-of-type(1) {
    margin-top: 30%;
    @media screen and (max-width: 990px){
      margin-top: 3%;
    }
  }
}