.page-404 {
  height: '400px';
  width: 100%;
  height: 400px;
  h1 {
    position: relative;
    font-weight: 400;
    font-size: 200;
    top: 40%;
  }
  @media screen and (max-width: 990px) {
    font-size: 16px;
    height: 300px;
  }
}
.not-exist {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  font-size: 120%;
  @include fonts();
  @media screen and (max-width: 770px) {
    width: 75%;
    margin: auto;
  }
}
.latest-404 {
  opacity: 1;
}
.latest-404-hidden {
  opacity: 0;
}